<!DOCTYPE html>
<html class="vh-100" lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="/__MACOSX/codebank/public/assets/logo.jpg" type="image/x-icon">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/jass.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  <link rel="stylesheet" href="/css/style.css">

  <title>{{title}}</title>
</head>


<body>
  <div class="page">
    <header>
      <!-- Navbar -->
      <nav class="navbar navbar-expand justify-content-between nav-custom">
        <a class="navbar-brand" href="/">
          <img class="navbar-logo" src="/assets/logo.png">
        </a>
        <ul class="navbar-nav p-3">
          <li class="nav-item">
            <a class="nav-link logoutb" id="logout" href="#">Logout</a>
          </li>
        </ul>

      </nav>


      <!-- Background image -->
      <div class="banner">
        <img class="banner-image" src="/assets/banner.png" alt="Page banner with quote">
      </div>
    </header>



    <!-- Conditionally render login or logout links -->
    {{#if logged_in}}
    {{!-- load account page --}}
    {{{ body }}}
    {{else}}
    <main>
      <!-- Render main login page -->
      {{{ body }}}
    </main>
    {{/if}}
  </div>
  {{!-- <footer>
    <div
      class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 footer fixed-bottom">
      <!-- Copyright -->
      <div class="text-white mb-3 mb-md-0">
        Copyright © 2022. All rights reserved.
      </div>
      <!-- Copyright -->

      <!-- Right -->
      <div>
        <a href="#!" class="text-white me-4">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#!" class="text-white me-4">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#!" class="text-white me-4">
          <i class="fab fa-google"></i>
        </a>
        <a href="#!" class="text-white">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </div>
      <!-- Right -->
    </div>
  </footer> --}}




  <!-- Render script for logged in users only -->

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
    crossorigin="anonymous"></script>
  <script src="/js/logout.js"></script>

</body>


</html>