<div>
    {{!-- if checking exists display checking balance  --}}
    {{#each accounts as |account|}}
    <div>
        
    </div>

</div>


    {{!-- add accounts button --}}

    <button type="button" class="btn btn-primary">Add Account</button>