<div>
<h1>Welcome Back</h1>
<div>
 <input type="text" class="form-control" placeholder="User Name">
 <input type="text" class="form-control" placeholder="Password">
 <button type="button" class="btn btn-primary">Login</button>
</div>
</div>