<!-- Template from MDbootstrap for the login form-->
<section class="">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="./assets/BFLogo.png"  width="686" height="457" 
                    class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form class = "form login-form">
                    
                    <div class="divider d-flex align-items-center my-4">
                        <p class="text-left fw-bold mb-0">Sign In</p>
                    </div>

                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input type="email" id="email-login" class="form-control form-control-lg"
                            placeholder="Enter a valid email address" />
                        <label class="form-label" for="email-login">Email address</label>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-3">
                        <input type="password" id="password-login" class="form-control form-control-lg"
                            placeholder="Enter password" />
                        <label class="form-label" for="password-login">Password</label>
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                        <!-- Checkbox for remember me option -->
                        {{!-- <div class="form-check mb-0">
                            <input class="form-check-input me-2" type="checkbox" value="" id="remember-check" />
                            <label class="form-check-label" for="remember-check">
                                Remember me
                            </label>
                        </div> --}}
                        <!-- need to add an href link to a page for the user if they forgot password to send a new one to email-->
                        <a href="#!" class="text-body">Forgot password?</a>
                    </div>

                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="button submit" class="btn btn-primary btn-lg test"
                            style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
                        <!-- attach sign up handlebars here to the register link-->
                        <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="/signup"
                                class="link-danger">Register</a></p>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>

<script src="/js/login.js"></script>
