<div class="transactions d-flex flex-column flex-lg-row justify-content-around mx-3">
  {{#each accounts as |account|}}
  {{!-- account balance --}}
  {{#if account.is_savings}}
  <div class="mx-2 mb-2">
    <h3>Account Balance</h3>
    <h3>${{account.acc_balance}}</h3>
  </div>
  {{/if}}
  {{/each}}

  <div class="mx-2 mb-2">
    <h3>10 Year Potential Savings at 4% Yearly</h3>
    <h3>{{tenYearBalance}}</h3>
  </div>

  {{!-- list previous transactions --}}

  <div class="mx-2 mb-2">
    {{!-- creates row headers --}}
    <h3>Previous Transactions</h3>

    <ul class="list-group list-group-horizontal">
      <li class="list-group-item flex-fill">Transaction ID</li>
      <li class="list-group-item flex-fill">Amount</li>
      <li class="list-group-item flex-fill">Notes</li>
      <li class="list-group-item flex-fill">Payment Destination</li>
    </ul>

  </div>

  <div class="mx-2">
    <form class="mb-2">
      <h2>Make A Payment</h2>
      <div class="form-group">
        <label for="exampleFormControlInput1">Payment Amount</label>
        <input type="text" class="form-control" placeholder="Amount">
      </div>

      <div class="form-group">
        <label for="exampleFormControlSelect2">Choose Payment Destination</label>
        <select multiple class="form-control" id="exampleFormControlSelect2">
          <option>Transfer to My Accounts</option>
          <option>Transfer to Another User</option>
        </select>
      </div>

      <div class="form-group">
        <label for="exampleFormControlInput1">Payment Notes</label>
        <input type="text" class="form-control" placeholder="Notes">
      </div>
      <button type="submit" class="btn btn-primary">Make Payment</button>
    </form>
  </div>
  {{!-- make a deposit --}}
  <div class="mx-2">
    <form>
      <h2>Make A Deposit</h2>
      <div class="form-group">
        <label for="exampleFormControlInput1">Deposit Amount</label>
        <input type="text" class="form-control" placeholder="Amount">
      </div>

      <div class="form-group">
        <label for="exampleFormControlInput1">Deposit Notes</label>
        <input type="text" class="form-control" placeholder="Notes">
      </div>
      <button type="submit" class="btn btn-primary">Make Deposit</button>
    </form>
  </div>

  <script src="/js/account.js"></script>