:root {
    --cb-green: #548235;
    --cb-cream: #EFE6DD;
}

header {
    margin-bottom: 100px;
}

body{
    background-color: var(--cb-cream);
}

.banner-image {
    width: 100%;
}

.footer{
    background-color: var(--cb-green);
}

.logoutb{
    display: none
}

.nav-custom {
    height: 60px;
    margin: 0;
    padding: 0;
    background-color: var(--cb-cream);
}

.navbar-logo {
    width: 20%;

}

.transaction-form {
    max-width: 500px;
    
}

#checking:hover, #savings:hover{
    box-shadow: 2px 2px 4px #000000
}


