:root {
    --cb-green: #548235;
    --cb-cream: #EFE6DD;
}

header {
    margin-bottom: 100px;
}

footer {
    position: sticky;
    bottom: 0;
    width: 100%;
}

.transactions {
    padding-left: 2%;
    padding-right: 2%;
}

.transaction-form {
    max-width: 500px;
    
}

.list-group-item {
    width: 100px;

}

.account-info {
    
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%

}

.nav-custom {
    height: 60px;
    margin: 0;
    padding: 0;
    background-color: var(--cb-cream);
}

.banner-image {
    width: 100%;
}

.navbar-logo {
    width: 20%;

}

.footer{
    background-color: var(--cb-green);
}
